.mfk-menu {
  border: 1px solid black;
}

.mfk-menu .mfk-menu-item {
  float: left;
  display: inline-block;
  margin: 8px;
  text-align: center;
}

.mfk-menu .mfk-menu-item a.mfk-menu-item-link {
  display: inline-block;
  width: 220px;
  height: 320px;
  border: 1px solid black;
  background-color: gray;
  padding: 8px;
  text-decoration: none;
}

.mfk-menu .mfk-menu-item .mfk-menu-item-thumbnail img {
  width: 200px;
  height: 200px;
}

.mfk-menu .mfk-menu-item .mfk-menu-item-label {
  font-size: 2em;
  color: white;
  font-weight: bold;
}
